.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  &-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.page-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
}

.page-desc {
  font-size: 13px;
  color: var(--text-tertiary);
  
  a {
    margin-left: 4px;
    cursor: pointer;
    color: var(--primary-color);
    
    &:hover {
      opacity: 0.8;
    }
  }
}
